# vim swap files
*.swp

# compiler outputs
*.o
*.so

# question executables
Q1/DivisionByZeroException
Q1/StackOverflowException
Q1/UndefinedMemoryException
Q2/Poisson
Q3/main
Q6/add2PB
Q6/findPhone

# Q6 output file
Q6/phonebook.txt
